@font-face {
    font-family: 'Code';
    src: url('Code-Light.woff2') format('woff2'),
        url('Code-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

